body {
    background: url(https://dl.dropbox.com/s/8bojjv34k37t16m/Webp.net-resizeimage%20%282%29.jpg?raw=1) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.clock {
    height: 320px;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.clock__strokes,
.clock__strokes-hours,
.clock__strokes-minutes,
.clock__pointers {
    position: absolute;
    height: 100%;
    width: 100%;
}

.clock__strokes-hours {
    z-index: 200;
}

.clock__strokes-hours span,
.clock__strokes-minutes span {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

.clock__strokes-hours span::before {
    content: "";
    background-color: #b6bbc5;
    background-color: #848484;
    height: 24px;
    height: clamp(14px, 4.23vw, 24px);
    width: 5px;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.clock__strokes-minutes span:before {
    content: "";
    background-color: #b6bbc5;
    height: 12px;
    height: clamp(7.76px, 2.11vw, 12px);
    width: 2px;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.clock__pointers-hours,
.clock__pointers-minutes,
.clock__pointers-seconds,
.clock__pointers-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock__pointers-dot {
    height: clamp(13px, 3.53vw, 20px);
    width: clamp(13px, 3.53vw, 20px);
    border-radius: 50%;
    background-color: #848484;
    border: 2px solid #dae1eb;
    z-index: 600;
}

.clock__pointers-hours {
    z-index: 300;
}

.clock__pointers-minutes {
    z-index: 400;
}

.clock__pointers-seconds {
    z-index: 500;
}

.clock__pointers-hours::before {
    content: "";
    background-color: #848484;
    height: clamp(64px, 17.47vw, 99px);
    width: 8px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.clock__pointers-hours::after {
    content: "";
    background-color: #848484;
    height: clamp(13px, 3.53vw, 20px);
    width: 8px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.clock__pointers-minutes::before {
    content: "";
    background-color: #b6bbc5;
    height: clamp(88px, 24vw, 136px);
    width: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.clock__pointers-minutes::after {
    content: "";
    background-color: #b6bbc5;
    height: clamp(15px, 4.41vw, 25px);
    width: 5px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.clock__pointers-seconds::before {
    content: "";
    background-color: #e57373;
    height: clamp(88px, 24vw, 136px);
    width: 3px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.clock__pointers-seconds::after {
    content: "";
    background-color: #e57373;
    height: clamp(19px, 5.29vw, 30px);
    width: 3px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}